
<!-- div class="row"-->
    <div class="col-md-8 blog-main">
        <h1 class="topic-title"><%= @topic.title %></h1>

        <%= paginate @blogs %>
      
        <%= render @blogs %>
     <!-- <nav class="blog-pagination">
        <a class="btn btn-outline-primary" href="#">Older</a>
        <a class="btn btn-outline-secondary disabled" href="#">Newer</a>
      </nav> --> 
        <%= paginate @blogs %>
    </div>
    <!-- aside partial here -->
    <%#= render 'blog_sidebar'%>
<!-- /div -->



