<h1>Portfolio Items</h1>

<%= link_to "Create a new Item", new_portfolio_path %>

<!-- pass collection and partial keys when namespace of varibale is not the same as model name ie Portfolio != portfolio_items -->
<%=  render partial: 'portfolio_item', collection: @portfolio_items %>
 
  
