    <footer class="mastfoot text-center app-footer">
        <div class="inner"> 
          <p><%= copyright_generator %> </p>
          <% if params[:controller] != "pages"%>
            <a href="#">Back to top</a>
          <% end %>
          <% if params[:controller] == "portfolios" %>
            | <%= link_to 'View all portfoilio items', portfolios_path %> |
          <% end %>
        </div>
      </footer>
