<section class="jumbotron text-center"> <!-- jumbotron mast head -->
    <div class="container">
      <h1 class="jumbotron-heading">Portfolio Overview</h1>
      <p class="lead text-muted">Ruby on Rails, and ReactJS developer based out of Columbus, Ohio. Showcasing a curated list of current projects. Contact me to learn more! </p>
      <p>
        <%= link_to "Find out more about me", about_me_path, class: "btn btn-primary my-2" %>
        
        <%= link_to "My Blogs", blogs_path, class: "btn btn-secondary my-2" %>
      </p>
    </div>
  </section> <!-- /jumbotron mast head -->