<h1>Pages#contact</h1>
<h3>Contact me for questions, pricing, or general questions</h3>
<h3>How to reach me:</h3>
<span><%= mail_to "ritchey0713@gmail.com"%></span>
<span>(614)-743-1991</span>

