<!-- h3>Contact me for questions, pricing, or general questions</h3-->

<h1>I'd love to hear about the product you want to build!</h1>
<!--h3>Office Address</h3>
<span>N/a currently</span>-->
<h3>Email</h3>
<h6><%= mail_to "ritchey0713@gmail.com", "Email me!", subject: "Web App Contact"%></h6>
<h3>Phone</h3>
<h6>(614)-743-1991</h6>


<!-- google embed for when office is est. -->
<!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3054.221111704434!2d-82.91765158450801!3d40.04816627940967!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88388a7cfff4f851%3A0x371063d4cc883475!2sEaston+Way%2C+Columbus%2C+OH!5e0!3m2!1sen!2sus!4v1557429522139!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe> -->
