    <main role="main" class="inner cover inner-cover">
        <h1 class="cover-heading">Welcome!</h1>
        <p class="lead">
          <span id="element"></span>
        </p>
          <%= link_to "Learn More", about_me_path,  class: "btn btn-lg btn-secondary" %>
        </p>
      </main>


    