@import "bootstrap";
@import "jquery-ui";
@import "font-awesome";
@import "gritter";

@font-face {
  font-family: 'Montserrat', sans-serif;
  src: font-url("Montserrat-Regular.ttf");
}

@font-face {
  font-family: 'Source Code Pro', monospace;
  src: font-url("SourceCodePro-Medium.ttf");
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

body{
  font-family: 'Source Code Pro', monospace;
}

.jumbotron {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 0;
    background-color: #fff;
  }
  @media (min-width: 768px) {
    .jumbotron {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }
  }
  
  .jumbotron p:last-child {
    margin-bottom: 0;
  }
  
  .jumbotron-heading {
    font-weight: 300;
  }
  
  .jumbotron .container {
    max-width: 40rem;
  }
  
  footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  
  footer p {
    margin-bottom: .25rem;
  }

  /* 
    custom styles
  */

  .portfolio-form {
    padding: 20px;
  }

  .portfolio-container{
    padding-top: 30px;
  }

  .devName{
    font-family: 'Montserrat', sans-serif;
  }
  